*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#testimonials{
    margin: 100px;
    width: 400px;
    height: 200px;
}

#levus-testimonials{
    position: relative;
    overflow: hidden;
}

#levus-testimonials ul{
    position: relative;
    left: -100%;
    display:grid;
    grid-template-columns: repeat(100,100%);
}

#levus-testimonials li{
    display: block;
    padding: 10px;
}

.move {
    transform: translateX(-100%);
}