*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#demo{
    margin: 100px;
    width: 400px;
    height: 200px;
}

/* горизонтальний скрол на 1 елемент */
#levus-testimonials{
    position: relative;
    overflow: hidden;
}

#levus-testimonials ul{
    white-space: nowrap;
    position: relative;
    left: -100%;
}

#levus-testimonials li{
    display: inline-block;
    /* float: left; */
    width: 100%;
    padding: 10px;
}

.move {
    transform: translateX(100%);
}